[Unit]
Description=Sish SSH Tunneling Server
Requires=docker.service
After=docker.service
StartLimitInterval=0

[Service]
Type=simple
WorkingDirectory={{ sish_config_dir }}
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
ExecReload=/usr/bin/docker compose restart
TimeoutStartSec=0
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
