[Unit]
Description=Node exporter
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop node-exporter
ExecStartPre=-/usr/bin/docker rm node-exporter
ExecStartPre=/usr/bin/docker pull quay.io/prometheus/node-exporter:latest
ExecStart=/usr/bin/docker run --net="host" --pid="host" -v "/:/host:ro,rslave" --name node-exporter quay.io/prometheus/node-exporter:latest --path.rootfs=/host

[Install]
WantedBy=multi-user.target
