[Unit]
Description=Inlets for {{ domain.subdomain }}

[Service]
ExecStart=/usr/local/bin/inlets_{{ domain.subdomain }}

[Install]
WantedBy=multi-user.target
