[Unit]
Description=Inlets for {{ item.subdomain }}

[Service]
ExecStart=/usr/local/bin/inlets_{{ item.subdomain }}

[Install]
WantedBy=multi-user.target
