[Unit]
Description=Mornin controller
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop mornin
ExecStartPre=-/usr/bin/docker rm mornin
ExecStartPre=/usr/bin/docker pull clicia/mornin:latest
ExecStart=/usr/bin/docker run --net=host --privileged -e CHICKEN_TOKEN={{ service.mornin.chicken_token }} --rm --name mornin clicia/mornin:latest

[Install]
WantedBy=multi-user.target
